:root {
  --danger: #ff8a80;
  --blue: #0d47a1;
  --light: #bbdefb;
}
body {
  background-color: #00b3b39c;
  background: url("https://www.vactualpapers.com/wallpapers/modern-day-city-skyline-view-hd-wallpaper-19/download/3840x2160.jpg");
  background-size: 100%;
  background-position:top;
  background: cover;
  
 }
 /* .background_video{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; 
} */
